# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
CppProperties.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/sig-games/v16/ipch/AutoPCH/a9d50a67cae2a09f/MAIN.ipch
.vs/sig-games/v16/Browse.VC.db
.vs/sig-games/v16/.suo
.vs/ProjectSettings.json
